<%- include('partials/header') %>


  <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/bg2.jpg)"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
  </header>

  <!-- <div class="gtco-section">
    <div class="gtco-container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="food-menu food-selection">
                      
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="main-wrapper">
      <h1 class="reservation-header">
        Reservation confirmed
      </h1>
      <p class="reservation-text">
        Hi Raymond, we are pleased to inform you that your reservation request has been received and confirmed.
      </p>
      <h2 class="reservation-details">
        <p class="booking-ref">Reference Number: <span class="booking-ref-val"><%= info.reservationNumber %></span></p>
        <p class="booking-ref">Reservation Date: <span class="booking-ref-val"><%= info.date %></span></p>
        <p class="booking-ref">Reservation Time: <span class="booking-ref-val"><%= info.time %></span></p>
        <p class="booking-ref">Number of Guests: <span class="booking-ref-val"><%= info.persons %></span></p>
      </h2>
    </div>
  </div>

  <script>
    const ctaBtn = document.getElementById("btn-cta");
    ctaBtn.style.display = "none";
  </script>

  <%- include('partials/footer') %>