<%- include('partials/header') %>


  <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/bg2.jpg)"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
  </header>

  <div class="gtco-section">
    <div class="gtco-container">
      <div class="main-wrapper">
        <h1 class="reservation-header">
          Reservation confirmed
        </h1>
        <p class="reservation-text">
          Hi <%= info.customerName %>, we are pleased to inform you that your reservation request has been received and confirmed.
        </p>

        <table class="reservation-details">
          <tr>
            <td>Reference Number:</td>
            <td><span class="booking-ref-val">
                <%= info.reservationNumber %>
              </span></td>
          </tr>
          <tr>
            <td>Reservation Date:</td>
            <td><span class="booking-ref-val">
                <%= info.date %>
              </span></td>
          </tr>
          <tr>
            <td>Reservation Time:</td>
            <td><span class="booking-ref-val">
                <%= info.time %>
              </span></td>
          </tr>
          <tr>
            <td>Number of Guests:</td>
            <td><span class="booking-ref-val">
                <%= info.persons %>
              </span></td>
          </tr>
        </table>

        <p class="reservation-text">
          We have sent a confirmation email to your email address: <span><%= info.emailAddress %></span>.
        </p>
      </div>

    </div>
  </div>


  <script>
    const ctaBtn = document.getElementById("btn-cta");
    ctaBtn.style.display = "none";
  </script>

  <%- include('partials/footer') %>